// .eslintrcnpm intall --save-dev babel-eslint
{
  "extends": [
    "prettier"
  ],
  "plugins": [
    "prettier"
  ],
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "es6": true,
    "browser": true
  },
  "rules": {
    "arrow-body-style": 0,
    "max-len": 0,
    "no-unused-vars": 0,
    "quotes": [2, "single"],
    "no-console": 0,
    "array-callback-return": 0,
    "prettier/prettier": [
      "error", 
      { "singleQuote": true, 
        "useTabs" : true, 
        "semi" : true}]
  }
}